<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <link rel="icon" href="/assets/favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="/assets/favicon-32x32.png" sizes="32x32">

    <meta name="description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
